@font-face {
    /*font-family: "hassan";
    src: url("https://fonts.google.com/specimen/Tajawal");*/
    font-family: "Hassan";
    src: url("Fonts/ArbFONTS-Tajawal-Light.ttf");
}
body{
    font-family: "Hassan"!important;
}
.section-1{
    background-image: url("img/ipad2.png");
    background-position: center ;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top:20px;
    height: 600px;
    direction: rtl;
}
.head-2 a{
    color: white !important;
    font-size: 18px;
    text-decoration-line: none;
}
.navbar-toggler{
    background-color: #b9bbbe;
}
.English{
    font-size: 20px;
    font-weight: bold;
}
nav {
    direction: rtl;
}
.navbar-light .navbar-nav .nav-link{
    color: white !important;
}
.navbar-light .navbar-brand{
    color: white !important;
}
.bg-light{
   background: none !important;
}
.cont-2{
    direction: rtl;
}
.pargraph{
    width: 50%;
    line-height: 1.8;
   color: white;
}
.pargraph h2{
    font-size: 25px;
    font-weight: bold;
}
.buttom-1{
    text-decoration: none;
    background: rgba(252,92,18,0.81);
    padding: 7px;
    color: white;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 10px;

}
.buttom-1:hover{
    background: white;
    border: 1px solid rgba(252,92,18,0.81);
    color: rgba(252,92,18,0.81);
    text-decoration: none;
    transition: ease .5s;
}
.navbar-brand{
    font-size:20px;
    font-weight: bold;
}
.navbar-collapse{
    font-size: 18px;
}
.section-2{
    background-color:hsl(0, 0%, 80.4%);
}
.menu{
    border: 10px solid rgba(252,92,18,0.85);
    border-radius: 5px;
}
.text-p{
    color: rgba(46,33,59,0.51);
    font-weight: bold;
}
.titel-p{
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px rgba(46,33,59,0.51);
}
.section-3 i{
    color:rgba(252,92,18,0.85) ;

}
.section-3 .parg{
    padding: 10px;
    border: 1.5px solid  rgba(46,33,59,0.11);
    border-radius: 10px;
margin-bottom: 10px;
}
.food{
    direction: rtl;
}
.food p{
    color: rgba(46,33,59,0.51);
font-size: 22px;
    font-weight: 500;
}
.titel-food{
font-size: 25px;
    font-weight: bold;
}
.section-4{
    direction: rtl;
    background-color: hsl(0, 0%, 96.4%);
}
.bord{
    padding: 10px;
    border: 1.5px dashed  rgba(46,33,59,0.11);
    border-radius: 10px;
}
.section-5{
    direction: rtl;
}
.section-5 div .row div div{
    padding: 10px;
    border: 1.5px solid  rgba(46,33,59,0.11);
    border-radius: 10px;
}
.imgs img{
    border: 5px black solid;
    border-radius: 15px;
}
.titel-sec-5 h3{
    font-weight: bold;
}
.titel-sec-5 p{
    color: rgba(46,33,59,0.51);
    font-weight: 500;
}
.section-6{
    direction: rtl;
}
.bord-sec-6{
    border-top:2px dashed rgba(46,33,59,0.51) ;
}
.imgs-sec-6 img{
    border: 2px solid rgba(252,92,18,0.81);
    border-radius: 15px;
}
.buttom-2{
    text-decoration: none;
    background: rgba(252,92,18,0.81);
    padding: 7px !important;
    color: white;
    font-size: 18px;
    border: 1px solid #b9bbbe;
    border-radius: 10px;
}
.buttom-2:hover{
    background: white;
    border: 1px solid rgba(252,92,18,0.81);
    color: rgba(252,92,18,0.81);
    text-decoration: none;
    transition: ease .5s;
}
.section-7{
    direction: rtl;
    background-color: hsl(0, 0%, 88.4%) ;
}
.titel-foter{
    font-size: 35px;
   font-weight: 600;
    font-style: italic;
}
.section-7 h4{
    font-weight: bold;
}
.Take-a-ride a{
    display: block;
    text-decoration: none;
    color: rgba(46,33,59,0.51);
}
.bac-f{
    background:none !important;
    border: 1px solid  rgba(46,33,59,0.51);
    font-size: 20px;
    border-radius: 15px;
}
.end{
    background-color:hsl(0, 0%, 80.4%) ;
    direction: rtl;
}
@media (max-width: 496px) {
    .m{
        padding-top:10px !important;
    }
    .pargraph {
        width: 100%;
        padding-top: 15px;
    }
    .pargraph p{
        margin: 0;
    }
    .section-22{
        display: none;
    }
    .edit-cont{
        padding-bottom: 20px !important;
    }
    .food .edit-width{
        width: 100% !important;
    }
    .bord{
        margin-bottom: 10px;
    }
    .imgs{
        text-align: center;
    }
    .Take-a-ride{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    .m{
        padding-top:10px !important;
    }
    .pargraph {
        width: 100%;
        padding-top: 15px;
    }
    .pargraph p{
        margin: 0;
    }
    .section-22{
        display: none;
    }
    .edit-cont{
        padding-bottom: 20px !important;
    }
    .food .edit-width{
        width: 100% !important;
    }
    .bord{
        margin-bottom: 10px;
    }
    .imgs{
        text-align: center;
    }
    .Take-a-ride{
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
}